<p>Use this form for modify the selected pet!</p>


<form action="/pets/<%= @pet.id %>" method="post">

  <p>Name: <%=@pet.pet_name%> </p>
  <input type="hidden" name="pet_name" value="<%=@pet.pet_name%>">
  
  <p>Type: <%= @pet.pet_type%> </p>
  <input type="hidden" name="pet_type" value="<%=@pet.pet_type%>">

  <p>Adimsion Date: <%= @pet.admision_date%> </p>
  <input type="hidden" name="admision_date" value="<%=@pet.admision_date%>">
  <br>

  <label for="adoptable-field">Status:</label>
  <!-- <div> -->
  <input
  type="radio"
  id="adoptable-field"
  name="adoptable"
  value="t">

  <label for="For Adoption">Ready for Adoption
        <br>
    <% if @pet.adoptable == "t" %>
      <label for="owner-select">Select Owner:</label>

      <select name="owner_id" id ="owner_id">
      <% @owners.each do |owner| %>
      <option value=<%=owner.id%>> <%= owner.name%></option>
      <% end %>
    </select>
    <% end %>
  </label>
  <!-- </div> -->
  <br><br>
  <!-- <div> -->
  <input
  type="radio"
  id="adoptable-field"
  name="adoptable"
  value="f"
  checked>
  <label for="Not Ready For Adoption">Not Ready For Adoption</label>
  <!-- </div> -->



  <br>
  <br>

  <input type="submit" value="Modify Pet">
</form>
