<p><hr /><hr /></p>
<p><a href="/pets/new">Add New Pet</a></p>
<!-- <p><a href="/pets/"></a></p> -->
<% @pet.each do |pet| %>

<p>Pet Name: <%= pet.pet_name%> </p>
<p>Pet Type: <%= pet.pet_type%> </p>
<p>Adimsion Date: <%= pet.admision_date%> </p>


<% if pet.adoptable == "t" %>
  <% if pet.owner_id == "null"%>
    <p>Status:  Ready For Adoption!!!</p>
    <% elsif pet.owner.name == "No Owner" %>
        <p>Status:  Ready For Adoption!!</p>
      <% else %>
        <p>Adopted by: <%= pet.owner.name%></p>
  <% end%>
  <% else %>
    <p>Not Ready for Adoption!</p>
  <% end %>



<p><a href="/pets/<%= pet.id %>">Pet Options</a></p>
<hr />
<hr />
<%end%>
